<%= form_with url: session_path do |form| %>

<%= flash_message(:errors_mail_password) %>

<p>
  <%= form.label :email %><br>
  <%= form.text_field :email, id: :email %>
</p>

<p>
  <%= form.label :password %><br>
  <%= form.password_field :password, id: :password %>
</p>

<p><%= form.submit 'Ввод' %></p>

<%end%>