
<h1><a rel="nofollow noopener" target="_blank" href="http://localhost:3000/tests">TestGuru</a></h1>
<% if current_user.present? %>
  <p><%= t('.welcome')%>, <%=current_user.first_name%> Guru </p>
<% end %>

<tr>
  <td><%= link_to t('.registration') , new_user_registration_path %></br>
  <td><%= link_to t('.log_in'), new_user_session_path %></br>
  <td><%= link_to t('.log_out'), destroy_user_session_path, method: :delete %></br>
</tr>