<%= form_with model: [:admin, @test, @question] do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p> 
    <%= form.label t('.body') %><br>
    <%= form.text_field :body %>
  </p><br>
     
  <p>
    <%= form.submit%>
  </p>
<% end %>