<div class="card">
<div class="card-header">
<h1><%=t('.header') %> </h1>

<%= render 'shared/errors', resource: @test %>

  <% if @tests.present? %>

  <div class="table">
  <table class="table">
      <tr>
      <th class="sort-by-title pointer">
      <%=t('.title')%>
      <%= octicon 'arrow-up', class: 'text-succes hide' %>
      <%= octicon 'arrow-down', class: 'text-succes hide' %>
      </th>
      <th><%=t('.level')%></th>
      <th><%=t('.count')%></th>
      <th><%=t('.timer')%></th>
      <th colspan="4"><%=t('.action')%></th>
      </tr>

      <%= render @tests %>
    </table>
    </div>
  <% end%>

  <%= link_to t('.create_new_test'), new_admin_test_path %><br>
  <%= link_to t('.root_page'), root_path %>
  </div>
  </div>
