<h1><%=t('.header') %> </h1>
  <% if @tests.present? %>
    <table>
      <tr>
      <th><%=t('.title')%></th>
      <th><%=t('.level')%></th>
      <th><%=t('.count')%></th>
      <th colspan="4"><%=t('.action')%></th>
      </tr>

      <%= render @tests %>
    </table>
  <% end%>

  <%= link_to t('.create_new_test'), new_admin_test_path %><br>
  <%= link_to t('.root_page'), root_path %>
