<div class="card">
<div class="card-header">
<h1><%= t('.all') %> </h1>
  <% if @tests.present? %>
  <div class="card-body">
  <table class="table">
      <tr>
      <th class="sort-by-title pointer">
      <%=t('.title')%>
      <%= octicon 'arrow-up', class: 'text-succes hide' %>
      <%= octicon 'arrow-down', class: 'text-succes hide' %>
      </th>
        <th><%=t('.level')%></th>
        <th><%=t('.count')%></th>
        <th><%=t('.timer')%></th>
        <th><%=t('.action')%></th>
      </tr>

      <%= render @tests %>
    </table>
    </div>
  <% else%>
    <p><%= render plain:"У вас нет тестов"%></p>
  <% end%>

  <%= link_to t('.root_page'), root_path %>
  </div>
  </div>
