<h1><%= t('.all') %> </h1>
  <% if @tests.present? %>
    <table>
      <tr>
        <th><%=t('.title')%></th>
        <th><%=t('.level')%></th>
        <th><%=t('.count')%></th>
        <th><%=t('.action')%></th>
      </tr>

      <%= render @tests %>
    </table>
  <% else%>
    <p><%= render plain:"У вас нет тестов"%></p>
  <% end%>

  <%= link_to t('.root_page'), root_path %>
