<h1>Тест  <%=@test_user.test.title %> завершен</h1>



<% if @test_user.done?  %>
  <h3 class='done'>Вы прошли тест, ваш результат: <%=@test_user.test_result%><%="%"%></h3>
<% else %>
  <h4 class='failed'>Вы не прошли тест, ваш результат: <%=@test_user.test_result%><%="%"%></h4>
<% end %>

<%= link_to 'Назад', tests_path %>