<h1>Тест  <%=@test_user.test.title %></h1>

<p>
  <%='Вопрос '%><%= @test_user.number_current_question%>
  <%='из '%><%= @test_user.test.questions.count %>  
</p>

<b>
  <%= @test_user.current_question.body %>
</b>

<%= form_with url: tests_user_path(@test_user), method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_user.current_question.answers, :id, :text, include_hidden: false do |b| %>
        
<p>
  <%= b.check_box id: "answer_ids_#(b.object.id)" %>
  <%= b.label %>
</p>
<%end%>

<p><%= form.submit 'Следующий' %></p>
<%end%>